<h3><%="El cliente #{@comment.user.fullname} ha dejado un nuevo comentario."%></h3>
<p>Correo electrónico: <%=@comment.email%></p>

<p>Comentario: <%=raw(@comment.comment)%></p>

<p>Aplicación: <%=@comment.app_name%> </p>

