<div class="avatar-current">
  <%if signed_in?%>
    <%= image_tag(current_user.logo.blank? ? "/assets/missing.png": current_user.logo) %>
  <%else%>
    <%= image_tag("/assets/missing.png") %>
  <%end%>
</div>


