<%if controller.action_name == "index"%>
  <!--div class="page_info custom-pagination">
  <%#= page_entries_info eval("@#{controller_name}") %>
  <%#= will_paginate eval("@#{controller_name}"), :renderer => BootstrapPagination::Rails %>
  </div-->
  <div  class="action-links">
    <%= render "layouts/action_links_partial" %> 
  </div>
<%else%>
  <div style="float: right;">
    <%= render "layouts/action_links_partial" %> 
  </div>
<%end%>