<% @models = Dir['app/models/*.rb'].map { |f| File.basename(f, '.*').camelize.constantize.name } %>
<% @models -= %w{Ability} %>
<ul > 
  <li>  <%= t(:welcome)%> <%= link_to current_user.fullname, current_user%></li>  
  <li>  <%= link_to t(:edit_my_account), edit_user_registration_path(current_user)%></li>
  <% @models.each do |model|%>
    <%if can? :index, eval(model)%>
      <li><%=link_to eval("t('activerecord.models.#{model.underscore.downcase.pluralize}')"), eval("#{model.underscore.pluralize.downcase}_path"), title: eval("t('activerecord.models.#{model.underscore.downcase.pluralize}')") %></li>
    <%end%>
  <%end%> 
</ul>